<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <%- include('../partials/navbar'); %> <%- include('../partials/signinForm');
    %>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
<!-- Path: views/pages/signin.ejs -->
